body, html{
    background-image: url("https://i.ibb.co/w6h06hZ/bg.jpg");
    height: 100vh;
    background-position: center;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.btn-cs{
    background-color:lightcoral;
}

.btn-cs:hover{
    background-color: rgb(236, 183, 183);
}

.nv{
    text-decoration: none;
}

ul .active{
    background-color:wheat;
}